.list {
    background: #bfc9d0;
    flex-shrink: 0;
    width: 272px;
    height: fit-content;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.list-title {
    cursor: pointer;
    padding: 10px;
    overflow-wrap: break-word;
}

.toggle-add-card {
    cursor: pointer;
    padding: 10px;
    color: #0d214d;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
}

.toggle-add-card:hover {
    background-color: rgba(9, 45, 66, 0.13);
    color: #17394d;
    text-decoration: underline;
}

.toggle-add-card ion-icon {
    margin-right: 2px;
}
